@model IEnumerable<Identity.Models.Doktor>

@{
    ViewData["Title"] = "Doktorlar";
}

<a class="btn btn-primary" asp-action="Create">Doktor Oluştur</a>
<hr>

<table class="table table-sm table-bordered">
	<thead>
		<tr>
			<th>Id</th>
			<th>Doktor Adı</th>
			<th>Poliklinik Id</th>
			<th>Poliklinik Adı</th>
			<th style="width: 120px"></th>
		</tr>
	</thead>
	<tbody>

		@if(Model.Count() == 0)
		{
			<tr><td colspan="4" class="text-center">User Yok</td></tr>
		}
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.DoktorId</td>
				<td>@item.DoktorAd</td>
				<td>@item.Poliklinik.PoliklinikId</td>
				<td>@item.Poliklinik.PoliklinikAd</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.DoktorId" class="btn btn-primary btn-sm">Düzenle</a>
					<form asp-action="Delete" method="post" onsubmit="return confirm('emin misiniz')" style="display: inline-block;">
						<input type="hidden" value="@item.DoktorId" name="Id">
						<button type="submit" class="btn btn-danger btn-sm">Sil</Button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>